* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
}

body {
  border: 1px solid red;
  width: 90%;
  margin: 0px auto;
  height: 100vh;
  font-size: 20px;
}

.user-interface {
  border: 1px solid red;
  margin: 10px;
}

.nav-bar {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-bar-logo {
  border: 1px solid red;
}

.nav-bar-logo img {
  width: 150px;
  height: 50px;
}

.nav-bar-links {
  border: 1px solid red;
  width: 60%;
}

.links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.links a {
  text-decoration: none;
  color: black;
}
