* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --light-green-color: #d4e682;
  --light-orange-color: #f5b359;
  --card-background: #007d8c;
  --dark-blue-color: #003264;
}

body {
  width: 100%;
  margin: 0px auto;
  height: 100vh;
  font-size: 20px;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-bar-logo img {
  width: 150px;
  height: 50px;
}

.nav-bar-links {
  width: 60%;
}

.links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.links a {
  text-decoration: none;
  color: black;
}

.login {
  background: var(--light-orange-color);
  padding: 5px 15px;
  font-size: 1.1rem;
  margin: 10px 0;
  border-radius: 10px;
  font-weight: bold;
}

.section-elder {
  background-image: url('./images/section-elder.jpeg');
  height: 700px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.elder-title {
  margin: 0 50px;
  width: 35%;
}

.elder-title h1 {
  margin: 10px;
  padding: 10px;
  color: var(--white-color);
  font-size: 3rem;
  line-height: 5rem;
}

.elder-card {
  width: 30%;
  margin: 0 50px;
  background: var(--light-green-color);
  border-radius: 10px;
  padding: 30px;
}

.elder-card-title,
.elder-card-paragraph {
  margin: 10px 0;
}

.elder-card-button {
  background: var(--light-orange-color);
  padding: 10px 20px;
  font-size: 1.2rem;
  margin: 10px 0;
  border-radius: 10px;
  font-weight: bold;
}

.section-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-cards-card {
  margin: 20px;
  width: calc(33.33% - 20px);
  border-radius: 15px;
  overflow: hidden;
  background: var(--card-background);
}

.card-img {
  width: 100%;
  height: 300px;
}

.card-title-black,
.card-title-white {
  padding: 10px;
  margin-left: 20px;
}

.card-title-white {
  color: var(--white-color);
}

.card-button {
  margin: 10px;
  margin-top: 50px;
  margin-left: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.section-counter {
  background: var(--light-orange-color);
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.total-people {
  width: 30%;
  margin: 50px;
}

.impact {
  color: var(--dark-blue-color);
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.8rem;
}

.community {
  color: var(--dark-blue-color);
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3rem;
}

.active {
  color: var(--dark-blue-color);
  line-height: 2rem;
}

.counters {
  width: 40%;
  margin: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.counter {
  text-align: center;
  font-size: 4rem;
}

.counters p {
  margin: 10px;
  text-align: center;
  color: var(--dark-blue-color);
}
